.animated-bg-text-club {
  position: relative;
  background: rgb(0, 0, 0); /* Fondo blanco */
  color: rgb(255, 255, 255); /* Color del texto, cambia "red" al color que desees */
  font-size: 2rem;    /* Tamaño de fuente predeterminado */
  overflow: hidden;
  animation: slideBg 2s ease forwards;
}

/* Animación del fondo blanco */
@keyframes slideBg {
  0% {
    width: 0;
  }
  100% {
    padding: 3px;
    width: 110%;
  }
}

.title-up-c {
  clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
}

.title-bottom-c {
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
}