.criterio{
  width: 40%;
}

.check svg{
  width: 100%;
}

.t-suscripciones{
  border-collapse: collapse;
  border-spacing: 10px; 
}

.t-suscripciones tr{
  border-bottom: 1px solid #FFFFFF;
}
.t-suscripciones td{
  padding: 10px;
}
.t-suscripciones th{
  border-bottom: 2px solid #FFFFFF;
  padding: 20px;
}

.suscripciones{
  padding: 20px;
}



