@media (max-width: 768px) {
  .min-footer {
    display: block; /* Mostrar el elemento */
    visibility: visible;
  }

  .gran-footer {
    display: none; /* Ocultar el elemento */
    visibility: hidden;
  }
}

@media (min-width: 780px) {
  .gran-footer {
    display: block; /* Mostrar el elemento */
    visibility: visible;
  }

  .min-footer {
    display: none; /* Ocultar el elemento */
    visibility: hidden;
  }
}
